server {
    listen 80;
    server_name  swag.swagger-ui.cn;

    gzip              on;
    gzip_min_length   1k;
    gzip_buffers      4 16k;
    gzip_http_version 1.1;
    gzip_comp_level   7;
    gzip_types        text/plain text/css text/javascript application/javascript application/json;
    gzip_vary         on;

    location /docs {
        alias   /dir/swagger-ui/docs;
    }

    location / {
        root    /dir/swagger-ui/page;
        index   index.html;
    }

}